
.header{
    background-color: hsl(180, 67%, 16%, 0.8);

}
.nav-view{
    display: grid;
    grid-template-columns: 2fr auto;
    align-items: center;
}
.container-table{
    position: absolute;
}
.data{
    display: flex;
    gap: 10px;
    font-family: Arial, sans-serif;
    font-size: 2em;
    color:  hsl(180, 67%, 9%);
    margin-top: 40px;
    transform: scale(1,1.5);
    transform-origin: left;

}
.icon{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 99%;
   font-size: 2.5em;
   color: hsl(180, 67%, 16%, 0.8);
}
.nav-title{
    width: 10%;
    transform: scale(5,2);
    margin-top: 50px;
    transform-origin: left;
    color:  hsl(180, 67%, 9%);
}

.employee{
    background-color: hsla(180, 67%, 24%, 0.5);
    width: 100vh;
    padding: 5px;
    font-size: large;
}
.container-marcacao{
    padding: 10px;
    height: 50px;
    border: 1px solid rgb(212, 207, 207);
}
.container-form{
    padding: 100px;
    width: 30%;
    background-color: hsla(180, 67%, 24%, 0.5);
        position: relative;
}