.container{
    background-color: rgb(236, 246, 246);
    width: 80vw;
    height: auto;
    display: grid;
    grid-template-columns: 95% ;
    place-content: center;
    margin: 20px 20px 0px 0px;
}